<div class="col-md-12">
  <div class="group">
    <span class="pull-right">
      <% if current_user && current_user.is_member_of?(@group)%>
      <label class="label label-success">Group member</label>
      <%=link_to("Quit Group", quit_group_path(@group),method: :post,class:"btn btn-primary pull-right")%>
      <% else %>
      <label class="label label-warning">Non-group member</label>
      <%=link_to("Join Group", join_group_path(@group),method: :post,class:"btn btn-primary pull-right")%>
      <% end %>
    </span>
    <%=link_to("Write a Post", new_group_post_path(@group),class:"btn btn-primary pull-right")%>
    <%if current_user && current_user == @group.user%>
    <%=link_to("Edit Group", edit_group_path(@group),class:"btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>

  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Content</td>
        <td>Creator</td>
        <td>Time</td>
      </tr>
    </thead>
    <tbody>
       <%= render :partial => "post_item", :collection => @posts, :as => :post %>
   </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @posts %>
  </div>
</div>
